main {
    max-width: $screen-lg;
    margin: auto;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
}

.card {
    width: 25%;
    padding: 1rem;
}

.card-content {
    display: flex;
    flex-flow: column;
    background: darken($cerulean, 10%);
    border: 1px solid $white;
    margin: 0.1rem;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 22px 0px -20px $black, -22px 0px 0px -20px $black, 0px -22px 0px -20px $black,
            22px 0px 0px -20px $black, 0 0 0 2px $white;
        .card-header {
            background: $cerulean;
        }
    }
}

.card-header {
    border-bottom: 1px solid $white;
    padding: 0.2rem;
    color: $white;
    text-align: center;
}

.card-main {
    text-align: center;
    padding: 0.5rem;
    color: $white;
    &:last-child {
        border-radius: 0 0 4px 4px;
    }
}

// Open modal button
.btn-open-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $blue-dark4;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    fill: white;
    cursor: pointer;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        opacity: 0.5;
        transition: 0.1s;
    }
    &:active {
        &:after {
            background: $blue-dark4;
            width: 150%;
            height: 150%;
            transform: scale(20);
        }
    }
}
