<main>
  <ul class="cards-container">
    <li class="card" id="{{card.id}}" *ngFor="let card of cards">
      <div class="card-content" (click)="openEditModal($event)">
        <div class="card-header">DAY {{card.day}}</div>
        <div class="card-main">Time : {{card.time}}</div>
        <div class="card-main">Set : {{card.set}}</div>
      </div>
    </li>
  </ul>
</main>

<button (click)="openModalTrigger($event)" type="button" class="btn-open-modal">
  <svg version="1.1" id="icon-plus" class="icon-plus" viewBox="0 0 50 50">
    <path
      d="M47.5,22H28V2.5C28,1.119,26.657,0,25,0s-3,1.119-3,2.5V22H2.5C1.119,22,0,23.343,0,25s1.119,3,2.5,3H22v19.5 c0,1.381,1.343,2.5,3,2.5s3-1.119,3-2.5V28h19.5c1.381,0,2.5-1.343,2.5-3S48.881,22,47.5,22z" />
  </svg>
</button>